.flex-col{
  flex-direction:column;
}
.flex-wrap{
  flex-wrap:wrap;
}
.mr-20{
  margin-right:20px;
}
.bold{
  font-weight:bold;
}
.mr-auto{
  margin-right:auto;
}
.p-20{
  padding:20px;
}
.inline{
  display:inline;
}
.products-cont{
  @media(min-width:500px){
  display:flex;
  flex-wrap:wrap;
  }
}
.image-preview__btn{
  background: url(/images/delete.svg) no-repeat center left;
  padding-left: 27px;
    /* height: 30px; */
  display: inline-block;
  background-size: 15px 15px;
  align-items: middle;
  background-position: 0% 94%;
  padding-bottom: 21px;

}
ul,li,p{
  margin:0;
  padding:0;
}
li{
  list-style-type:none;
}
select,option{
  text-transform:capitalize;
}
.pd-listing__cont{
  @media(min-width:500px){
    flex: 1 50%;
    max-width:50%
  }
}
a.pd-listing__img-cont{
  width:200px;
  height:200px;

}
.pd-listing__action{
  margin-bottom:40px;
}
.pd-list__dropdown{
    position:relative;
   & span{

     padding: 6px 10px;
    display: inline-block;
    width: 200px;
    background-color: #ffffff;
    color: #2a2a2a;
    box-shadow: 0 0 3px grey;
    background:url('/images/dropdown-menu.svg') no-repeat ;
    background-position: 95% 50%;
    background-size:20px 20px;
    cursor:pointer
   }

   &:hover .pd-dropdown{
     display:block;
   }

   &:first-of-type{
     margin-bottom:30px;
   }
 }
 .pd-listing__title{
   margin-bottom:15px;
 }
 .pd-listing__price{
   padding-bottom:30px;
   font-weight:bold;
 }
 .pd-dropdown{
   background-color:#ffffff;
   box-shadow:0 0 3px grey;
   position:absolute;
   top:50px;
   left:0;
   padding:15px;
   z-index:20;
   display:none;
   width:100%;
   & li{
      margin-bottom:10px;
   }

   & li a{
     color:#2a2a2a;
     padding:6px;
     display:block;

     &:hover{
       color: #00803a;
       text-decoration:none;
     }
   }

   &::after{
     content:'';
     position:absolute;
     top:-13px;
     right:15px;
     width:0;
     height:0;
     border-left:13px solid transparent;
     border-right:13px solid transparent;
     border-bottom:13px solid #d8d1d1;
   }
 }

.view{
  background:url('/images/view.svg') no-repeat center right;
  background-size:30px 30px;

}
.trash{
  background:url('/images/trash.svg') no-repeat center right;
  background-size:30px 30px;

  &:hover{
    color:red !important;
  }
}

.edit{
  background:url('/images/edit.svg') no-repeat center right;
  background-size:30px 30px;
}

.add{
  background:url('/images/add-new.svg') no-repeat center right;
  background-size:30px 30px;
}


a.new{

  display:inline-block;
  background-color:coral;
  padding:8px 10px;
  color:#fff;
  &:hover{
    text-decoration:none;
    opacity:0.7;
  }
}

.product-notice{
  flex-wrap:wrap;
  align-items:center;

}
.listing-title__cont{
  margin-bottom:30px;
  margin-top:20px;

}
.listing__title{
  padding-bottom:8px;
  border-bottom:1px solid #000;
  display:inline-block;
}

form.search-form{
  padding: 0 !important;
}
