extends layout
block content
 

  
  .upload-modal
    
    form.upload.new(method="post",action="",id="myform")
      if errors 
        .error-cont
          for error in errors 
            li.error= error.msg
      .upload-head.text-center
        |Add Product
      .field
        label(for="name") Product Name
        input.control(type="text",placeholder="Product Name",name="name",id="name",value= (product ? product.name : ''))
  
      .field
        label(for="price") Price
        input.control(type="text",placeholder="price",name="price",id="price",value= (product ? product.price : ''))
  
      .field
        label(for="color") Product Color
        input.control(type="text",placeholder="Optional ",name="color",id="color",value= (product ? product.color : ''))
  
      .field
        label(for="main_category") Product Main Category
        select.control(id="main_category",name="main_category")
         option(value="",selected) Select Main Category
         option(value='makeup') Makeup
         option(value='bath-and-body') Bath & body 
         option(value='men') Men
  
      .field
        label(for="category") Product Category
        select.control(id="category",name="category")
         option(value="",selected) Select Category
         option(value='makeup') Makeup
         option(value='bath-and-body') Bath & body 
         option(value='men') Men
  
      .field
        label(for="subcategory") Product Subcategory
  
        select.control(id="subcategory",name="subcategory") 
         option(value="",selected) Select Subcategory
         option(value='makeup') Makeup
         option(value='bath-and-body') Bath & body 
         option(value='men') Men
      .field 
        button.control.blk(type="submit") Add product
  
  
  

         
  
